@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Data Science</h1>
    <p>Blog Scraping<a href="https://docs.microsoft.com/aspnet/core">Github Integracion</a>.</p>
    <h1>Python</h1>
</div>
